<%= render 'books/list', book: @book_v, user: @user %>
<h1>Book detail</h1>
<div>
  <p>Tittle：<%= @book.title %></p>
  <p>opinion</p>：<%= @book.body %></p>
  <p>投稿ユーザー画像：<%= image_tag @book.user.get_profile_image(100,100) %></p>
  <p>ユーザーネーム：<%= @book.user.name %></p>
  <% if @book.user == current_user %>
    <%= link_to "Edit", edit_book_path(@book.id) %>
    <%= link_to "Destroy", destroy_book_path(@book.id), method: :delete,"data-confirm" => "本当に削除しますか？" %>
  <% end %>
</div>